.wrapper {
	overflow: hidden;
	opacity: 0;
	transition:
		height 0.3s ease-in-out,
		opacity 0.3s ease-out,
		margin 0.3s ease-in-out;
}

.wrapperOpen {
	opacity: 1;
}

.inner {
	padding-bottom: 2px;
}
