name: CI

on:
  push:
  pull_request:

jobs:
  ci-checks:
    runs-on: windows-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: 安装 Bun
        uses: oven-sh/setup-bun@v2

      - name: 安装 Rust 工具链
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy

      - name: 缓存 Rust 依赖
        uses: Swatinem/rust-cache@v2

      - name: 安装依赖
        run: bun install

      - name: 检查格式
        run: bun lint

      - name: 检查类型
        run: bun typecheck

      - name: 检查 Clippy
        run: cargo clippy --workspace -- -D warnings

      - name: 构建项目
        run: bun run build
