name: 发布到插件商店

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  publish-to-store:
    runs-on: windows-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: 安装 Bun
        uses: oven-sh/setup-bun@v2

      - name: 安装 Rust 工具链
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: i686-pc-windows-msvc, x86_64-pc-windows-msvc

      - name: 缓存 Rust 依赖
        uses: Swatinem/rust-cache@v2

      - name: 安装依赖
        run: bun install

      - name: 构建项目
        run: bun build

      - name: 部署产物
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./InfinityLink/dist
          publish_branch: release
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
